/*------------------------------------------------------------------
    
    [Stylesheet]

    Project:        Volt.com
    Version:        1.0
    Last change:    30.07.14 [Created]
    Assigned to:    Steven Palmer (SP)                  

-------------------------------------------------------------------*/


/*------------------------------------------------------------------

    [Table of Contents]
    
    1.  Global / Margins / Colors
    2.  Navigation Styles
    3.  Jumbotron
    4.  Footer
    
    [Color codes]
    
    Background: #13416c (Dark Blue)
    Content:    #ffffff  (Light Black)
    
    #13416c rgb(19,65,108) -  (Dark Blue)
    #5c81b1 rgb(92,129,177) - (Light Blue)
    #8d8e8e rgb(141,142,142) - (Medium Grey)


    VOLT SUB-COLORS
    #f29523 rgb(242,149,35) - (Orange)
    #a74190 rgb(167,65,144) - (Purple)
    #1dacdf rgb(29,172,223) - (Light Blue)
    #00aea2 rgb(0,174,162) -  (Teal)

    Buttons:    #f29523 (Orange)

    [Typography]

    Body copy:          1.0em 'Fedra Sans Std', Helvetica, sans-serif;
    
-------------------------------------------------------------------*/

/* ==========================================================================
   1. Global Styles
   ========================================================================== */
    
-------------------------------------------------------------------*/

/* ==========================================================================
   1. Global Styles
   ========================================================================== */

body {
    font-family: 'AkzidenzGrotesk-Light', Helvetica, serif;
    color: #444444;
    font-size: 14px;
    margin-top: 50px;    
}
html {
  position: relative;
  min-height: 100%;
}

/* ==========================================================================
   2. Typography
   ========================================================================== */

@font-face {
  font-family: 'AkzidenzGrotesk-Light';
  src: url('../fonts/AkzidenzGrotesk-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AkzidenzGrotesk-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AkzidenzGrotesk-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/AkzidenzGrotesk-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AkzidenzGrotesk-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'AkzidenzGrotesk-Light', Helvetica, serif;
}



h1 { /* h1's are the main page titles, appear in grey under jumbotron */
  font-size: 2em;
  line-height: 36px;
  letter-spacing: -1px;
  font-weight: normal;
  color: #333333;
}

h2 { /* h2's major page titles, 100% width */  
  font-size: 2em;
  line-height: 35px;
  letter-spacing: -1px;
  font-weight: normal;
  color: #333333;
  text-align: center;
  margin-bottom: 40px;
}     

h3 { /* h3's bolded subheading appear within content */
    color: #333333;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: -0.2px;
    line-height: 26px;
    margin-bottom: 5px;    
}

h4 { /* h4's Are in red and are titles for the circle links */
  font-size: 1.05em;
  text-decoration: none;
  margin: 0;
  letter-spacing: 0px;
  font-weight: bolder;
  color: #79000a;
  line-height: 1.1em;  
}

h5 {
  font-size: 1em;
  margin:0 0 10px;
  letter-spacing: 0px;
  font-weight: bold;
  color: #333333;
}

p {
  font-size: 1.1em;
  margin:0 0 20px;
  letter-spacing: 0px;
  font-weight: normal;
  color: #555555;
  line-height: 26px;  
}

.small { /* copy that accompanies the circle link paragraph */
  font-size: .95em;
  line-height: 16px;  
  padding:0 14%;  
  margin: 5px 0;
}

a {
    color: #79000A;
    font-family: 'AkzidenzGrotesk-Light',Helvetica,serif;
    font-weight: normal;
    text-decoration: none;
}

a:hover, a:focus {
    color: #79000A;  
    text-decoration: underline;
}

/*------- line on side of h2 -----------*/
h2.line-side {
  line-height: 0.5;
  text-align: center;
}
h2.line-side span {
  display: inline-block;
  position: relative;  
}
h2.line-side span:before,
h2.line-side span:after {
  content: "";
  position: absolute;
  height: 8px;
  border-bottom: 1px solid #ccc;
  top: 0;
  width: 150%;
}
h2.line-side span:before {
  right: 100%;
  margin-right: 15px;
}
h2.line-side span:after {
  left: 100%;
  margin-left: 15px;
}

.black {
  color:#000000;
}

/*----------Margins-------------------*/
.margin-0 {
    margin-bottom: 0 !important;
}
.margin-xs {
    margin-bottom: 20px !important;
}
.margin-sm {
    margin-bottom: 50px !important;
}
.margin-md {
    margin-bottom: 100px !important;
}
.margin-lg {
    margin-bottom: 200px !important;
}

td {
    border: none;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
